.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
}

.thumb {
    padding: 5px;
    margin: 10px;
    position: relative;
    width: 10%; /* The size you want */
}



.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    width:  256px;
    height: 256px;
    object-fit: cover;
}