.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;
}

.thumb {
    margin: 10px;
    position: relative;
    width: 10%; /* The size you want */
}

.gallery-content {
    margin-top: 10pt;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    width:  256px;
    height: 256px;
    object-fit: cover;
}

.footer {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10pt;
    padding: 10pt 0;
    font-weight: 400;
    line-height: 1em;
}