.carousel-item img {
    height: 512px;
    object-fit: cover;
}

.gallery-content {
    margin-top: 10pt;
}

.footer {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10pt;
    padding: 10pt 0;
    font-weight: 400;
    line-height: 1em;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}