@model VmSchool.ViewModels.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VmSchoolSite</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    <link rel="stylesheet" href="~/style.css" />
</head>
<body class="text-center">
    <!-- #region Login form -->
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Панель адміністратора</h1>
        <div class="form-label-group">
            <label asp-for="Email" class="sr-only">Email адреса</label>
            <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Email адреса" required="" autofocus="">
        </div>
        <div class="form-label-group">
            <label asp-for="Email" class="sr-only">Пароль</label>
            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
    </form>
    <!-- #endregion -->
    <!-- #region Footer -->
    <footer class="border-top footer text-muted">
        &copy; 2020 - Всі права захищені
    </footer>
    <!-- #endregion -->
</body>
</html>