@using VmSchool.Models
@model ArticleModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="container" style="margin: 15pt">
    <p class="h4">@Model.Title</p>
    <small class="text-muted">@Model.CreateDate.ToString("yyyy-MM-dd")</small>
    <div>@Model.Text</div>
</div>