<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VmSchoolSite</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    <link rel="stylesheet" href="~/style.css" />
    <!-- #region Styles -->
    @await RenderSectionAsync("Styles", required: false)
    <!-- #endregion -->
</head>
<body>
    <!-- #region Main Menu -->
        @await Component.InvokeAsync("Header")
    <!-- #endregion -->
    <!-- #region Content -->
    <main role="main" class="mt-auto">
        @RenderBody()
    </main>
    <!-- #endregion -->
    <!-- #region Footer -->
    <footer class="border-top footer text-muted">
        @await Component.InvokeAsync("Footer")
    </footer>
    <!-- #endregion -->
    <!-- #region Scripts -->
    <script src="~/vendor.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
<!-- #endregion -->
</body>
</html>