@using VmSchool.Models
@model GalleryModel

@{
    ViewData["Title"] = @Model.Title;
}

@section Styles
{
    <link rel="stylesheet" href="~/jquery.mosaic.css" />
}

@section Scripts
{
    <script src="~/jquery.mosaic.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#gallery-images').Mosaic({
                maxRowHeight: 400,
                maxRowHeightPolicy: 'oversize',
                innerGap: 10
            });
        });
    </script>
}

<div class="container-fluid gallery-content">
    <div id="gallery-images">
        @foreach (var image in Model.Images)
        {
            <a data-fancybox="gallery" href="~/@image.ImagePath">
                <img class="img-fluid" src="~/@image.ThumbnailPath" alt="...">
            </a>
        }
    </div>
</div>