@{
    ViewData["Title"] = "Галерея";
}

@using VmSchool.Models
@using VmSchool.ViewModels
@model GalleryViewModel

<div class="container-fluid">
    <div class="row">
        @foreach (var gallery in Model.Galleries)
        {
            <div class="card" style="width: 18rem; margin: 10px;">
                <img class="img-fluid" src="@gallery.ThumbnailPath" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@gallery.Title</h5>
                    <p class="card-text">@gallery.Description</p>
                    <a href="@Url.Action("ShowGallery","Gallery", new { id = gallery.Id })" class="btn btn-primary">Переглянути...</a>
                </div>
            </div>
        }
    </div>
</div>