@{
    ViewData["Title"] = "Галерея";
}

@using VmSchool.Models
@using VmSchool.ViewModels
@model GalleryViewModel

<div class="container-fluid">
    <div class="row">

        @foreach (var gallery in Model.Galleries)
        {
            <div class="col-lg-2 col-md-3 col-4 thumb d-flex justify-content-center">
                <a href="@Url.Action("ShowGallery","Gallery", new { id = gallery.Id })">
                    <img class="img-fluid" src="@gallery.ThumbnailPath" alt="...">
                    <h5 class="text-center text-truncate">@gallery.Title</h5>
                </a>
            </div>
        }

    </div>
</div>